{% extends 'base.html.twig' %}

{% block title %}Accueillolotl{% endblock %}
{% block body %}
  <body>
      <h1>relaxolotl</h1>

      <a href={{path('app_filtre_objet' , {'filter': 'DESC'} )}}>Filtre</a>

    {% for objet in objet %}
        <article id="card_home">
            <div class="list">
                <h2> {{ objet.name}}</h2>
                <h3> {{ objet.valeur}}</h3>
                <h4>Publier le {{ objet.date|date('d/m/y')}}</h4>
                <p> {{ objet.description}}</p>
            </div>
            <div class="pict">
                <img src={{asset('images/' ~ objet.imageName)}} alt="image dAxolotl">
            </div>
        </article>
    {% endfor %}
  </body>
{% endblock %}
